body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f9fc;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --primary-bg: #212529;
  --primary-color:  #ffffff
}
/******************************Universal CSS****************************/
a{
  text-decoration: none;
  color: inherit;
}
.routing-wrapper{
  margin-bottom: 80px;
}
.modal-wrapper{
  border-radius: 20px;
}
.navbar-wrapper{
  background:var(--primary-bg);
  color: var(--primary-color);
}
.footer-wrapper{
  background:var(--primary-bg);
  color: var(--primary-color);
}

/************************* CSS For Search bar ************************/

.search {
  width: 100%;
  position: relative;
  display: flex;
}
.searchTerm {
  width: 100%;
  border: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px;
  outline: none;
  color: var(--primary-bg);
}
.searchTerm:focus{
  color: var(--primary-bg);
  border: 1px solid var(--primary-bg);
  border-radius: 5px 0 0 5px;
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid var(--primary-bg);
  background: var(--primary-bg);
  text-align: center;
  color: var(--primary-color);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
/*********************************HomePage CSS*************************************/
.top-wrapper{
  background: linear-gradient(to right, #e55d87, #5fc3e4);
  background-image: url("https://res.cloudinary.com/code-gambit/image/upload/v1621277824/Web%20App/top-wrapper_o7mevz.png");
  background-size: cover;
  background-position: center; 
}
.top-wrapper h1{
  font-size: 35px;
  letter-spacing: 1px;
  max-width: 60%;
  font-family: "Ivar Headline","Ivar Headline Subset","Times New Roman",serif;
  font-weight: bold;
}
.card-wrapper{
  box-shadow: rgb(209 209 213) 0px 5px 15px;
}
.card-wrapper:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
/*****************************File Card CSS*********************/
.file-detail-card-wrapper{
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  border-radius: 10px;
  color: var(--primary-color);
}
.file-card-wrapper {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}
/* .file-card-wrapper:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
} */
.file_title {
  font-weight: 600;
}
.file_size_wrapper {
  font-size: small;
}
.file_size_label {
  font-weight: 600;
}
.file_size {
  color: #737373;
}

/******************************URL Card CSS**********************/
.url-card-wrapper{
  background-color: #c0c0c0;
  border-radius: 10px;
}
.url-card-wrapper:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

@media screen and (max-width: 680px) {
  .top-wrapper h1{
    font-size: 25px;
    max-width: 80%;
  }
}
/***************************FileForm CSS************************/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}